$binary-clock: (
	default: (
		offLimit: #ff0000,
		on: lighten( #ff0000, 10% ),
		off: lighten( #ff0000, 30% )
	),
	temp-22: (
		offLimit: #0000ff,
		on: lighten( #0000ff, 10% ),
		off: lighten( #0000ff, 30% )
	)
);

.binary-clock {
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
}

.binary-clock span { 
	min-height: 16%;
	display: block;
	width: 33.33%; 
}

.binaryOn { 
	background-color: map-deep-get($binary-clock, default, on); 
}

.binaryOff { 
	background-color: map-deep-get($binary-clock, default, off);
}

.binaryOffLimit {
	background-color: map-deep-get($binary-clock, default, offLimit);
}

