.ships {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.icon--ship {
	width: 7%;
	fill: rgba(255,255,255, 0.3);
}

.ship--info {
	color: #fff;
	@include vertical-align(absolute);
}

.ship--wrapper {
	position: absolute;
	width: 100%;
	transition-property: left, top;
	transition-duration: 300ms;
}