.ships {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.icon--ship {
	width: 7%;
	//position: absolute;
	fill: rgba(255,255,255, 0.3);
}

.ship--info {
	//position: absolute;
	@include vertical-align(absolute);
}

.ship--wrapper {
	position: absolute;
	width: 100%;
}