@for $i from -10 through 42 {
	
	.temp-#{$i} {
		.binaryOffLimit { 
			background-color: map-get($binary-clock, temp-#{$i}); 
		}

		.binaryOff { 
			background-color: lighten(map-get($binary-clock, temp-#{$i}), 10%);
		}

		.binaryOn {
			background-color: lighten(map-get($binary-clock, temp-#{$i}), 30%);
		}
	}
}