@for $i from -10 through 40 {
	.temp-#{$i} {
		.binaryOffLimit { 
			background-color: #0000ff; 
		}

		.binaryOff { 
			background-color: lighten(#0000ff, 10%);
		}

		.binaryOn {
			background-color: lighten(#0000ff, 30%);
		}
	}
}