@for $i from -10 through 42 {
	
	.temp-#{$i} {
		.binaryOffLimit { 
			background-color: darken(map-get($binary-clock, temp-#{$i}), 10%); 
		}

		.binaryOff { 
			background-color: darken(map-get($binary-clock, temp-#{$i}), 5%);
		}

		.binaryOn {
			background-color: map-get($binary-clock, temp-#{$i});
		}
	}
}