@font-face {
  	font-family: "LiberationSans-Regular";
  	src: url("fonts/LiberationSans-Regular.ttf");
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: 'LiberationSans-Regular', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: sans-serif;
	margin: 0;
	text-rendering: optimizeLegibility; // Fix the character spacing for headings
}


