
$breakpoints: (
	small: 480px,
	medium: 768px,
	large: 967px,
	xlarge: 1024px
);



/*
List of font sizes / attributes
The null key == default styles (no media query)
Values can be one value (size) as px or a list of type attributes e.g.:
(size, color, weight, line-height, letter-spacing, text-transform)
null values in the list will be ommitted
 */
/* $type-formatting: (
	h1: (
		null: (34px, null, 400, null, .02em, uppercase),
		small: 36px,
		medium: 42px,
		large: 60px,
		xlarge: 64px,
	),
	h2: (
		null: (34px, null, 400, null, .02em, uppercase),
		small: 36px,
		medium: 42px,
		large: 46px,
		xlarge: 50px,
	),
	h3: (
		null: (34px, null, 400, null, .02em, uppercase),
		small: 36px,
		medium: 42px,
		large: 60px,
		xlarge: 64px,
	),
	p: (
		null: (20px, null, 400, null, .02em, uppercase),
		small: 20px,
		medium: 20px,
		large: 20px,
		xlarge: 20px,
	),
	role: (
		null: (20px, null, 400, null, .02em, null),
		small: 20px,
		medium: 20px,
		large: 20px,
		xlarge: 16px,
	)
); */

/*  Assign to vars - then use in type placeholders _placeholders.scss  */
/* $type-formatting-h1: map-get($type-formatting, 'h1');
$type-formatting-h2: map-get($type-formatting, 'h2');
$type-formatting-h3: map-get($type-formatting, 'h3');
$type-formatting-p: map-get($type-formatting, 'p');
$type-formatting-role: map-get($type-formatting, 'role'); */